{% extends 'index.html' %} {% load static %} {% block main %} {% endblock main%}
{% block contact %}
<div class="container">
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<div class="flip-card">
				<div class="flip-card-inner" style="margin-top: 2rem">
					<div class="flip-card-front">
						<img
							src="{% static 'img/thank.jpg' %}"
							alt="Thank You!"
							style="width: 720px; height: 640px"
						/>
					</div>
					<div class="flip-card-back">
						<h1 style="text-align: center">Thanks for showing interest!</h1>
						<p style="text-align: center">
							I will try to get back to you as soon as possible!
						</p>
						<a
							style="border-radius: 50px"
							class="btn btn-success"
							href="{% url 'home' %}"
							>GO Back
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3"></div>
	</div>
</div>

{% endblock contact %} {% block footer %} {% endblock footer %}
