{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title> Ahmed Abdallh</title>

    <meta name="description" content="Portfolio Website">
    <meta name="author" content="Ahmed Abdallh">
    <meta name="keywords" content="Personal Website Portfolio Services Nodejs Django PWA Apps ">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- Fonts -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="150x180" href="{% static 'home.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon.png' %}">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-76614800-1"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <script>
        // Navigation overlay
        var s = skrollr.init({
            forceHeight: false,
            smoothScrolling: false,
            mobileDeceleration: 0.004,
            mobileCheck: function () {
                //hack - forces mobile version to be off
                return false;
            },
        });
    </script>

</head>

<body>

    {% block main %}


    <header id="masthead" class="site-header" data-anchor-target=".hero"
        data-top="background: rgba(255,255,255,0); padding: 30px 0; box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0);"
        data-top-bottom="background: rgba(255,255,255,1); padding: 10px 0; box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.2);">
        <nav id="primary-navigation" class="site-navigation">
            <div class="container">
                <div class="navbar-header page-scroll">

                    <button type="button" class="navbar-toggle collapsed" data-target="#portfolio-perfect-collapse"
                        aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a href="#hero" class="site-logo"><img src="{% static 'img/home.png' %}" alt="logo"
                            style="width: 64px; height: 48px; border-radius: 25px;" class="rounded-circle"></a>

                </div><!-- /.navbar-header -->

                <div class="main-menu" id="portfolio-perfect-collapse">

                    <ul class="nav navbar-nav navbar-right">

                        <li class="page-scroll"><a href="#hero">Home</a></li>
                        <li class="page-scroll"><a href="#about">About</a></li>
                        <li class="page-scroll"><a href="#service">Service</a></li>
                        <li class="page-scroll"><a href="#portfolio">Portfolio</a></li>
                        <li class="page-scroll"><a href="#contact">Contact</a></li>

                    </ul><!-- /.navbar-nav -->

                </div><!-- /.navbar-collapse -->

            </div>
        </nav><!-- /.primary-navigation -->
    </header><!-- /#header -->

    <div id="hero" class="hero">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <h1>Ahmed Abdallh</h1>
                    <div class="page-scroll">
                        <p class="job-title">Full Stack Developer, Designer & Video Editor</p>
                        <a href="#contact" class="btn btn-fill" style="border-radius: 50px;">Contact</a>
                        <div class="clearfix visible-xxs"></div>
                        <a href="#portfolio" class="btn btn-border" style="border-radius: 50px;">Explore more</a>
                    </div>
                </div>

                <div class="col-md-6 text-right">
                    <img src="{% static 'img/me.png' %}" alt="Ahmed Abdallh">
                </div>

            </div>
        </div>
    </div><!-- /.hero -->

    <main id="main" class="site-main">

        <section id="about" class="site-section section-about text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h2>About</h2>
                        <img src="{% static 'img/lines.svg'%}" class="img-lines" alt="lines">
                        <p style="font-weight: 600;">Hello! I'm Ahmed, a full stuck developer, a Javascript enthusiast.
                            but python has a place in my heart too. I’m currently available for freelance work. If you
                            have a project that you want to get started or think you need my help with something, then
                            get in touch.</p>
                    </div>
                </div>
            </div>
        </section><!-- /.secton-about -->
        <div class="container">
            <div style="text-align:center; margin:0 auto;  padding-bottom:2em;  width: 100%;">
                <center>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Responsive Ads Unite -->
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5698749181618828"
                        data-ad-slot="4631887197" data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </center>
            </div>
            <section class="color1">
                <div id="codeconSkills">

                    <div class="codeconSkillbar">
                        <div id="codeconHTML">
                            <span class="codeconSkillArea ">HTML</span>
                            <span class="PercentText ">100%</span>
                        </div>
                    </div>

                    <div class="codeconSkillbar">
                        <div id="codeconCSS">
                            <span class="codeconSkillArea ">CSS/CSS3</span>
                            <span class="PercentText ">70%</span>
                        </div>
                    </div>

                    <div class="codeconSkillbar">
                        <div id="codeconjQuery">
                            <span class="codeconSkillArea ">JavaScript</span>
                            <span class="PercentText ">90%</span>
                        </div>
                    </div>

                    <div class="codeconSkillbar">
                        <div id="codeconXML">
                            <span class="codeconSkillArea ">XML </span>
                            <span class="PercentText ">60%</span>
                        </div>
                    </div>


                    <div class="codeconSkillbar">
                        <div id="codeconC">
                            <span class="codeconSkillArea ">Python</span>
                            <span class="PercentText ">89%</span>
                        </div>
                    </div>

                    <div class="codeconSkillbar">
                        <div id="codeconJAVA">
                            <span class="codeconSkillArea ">Django </span>
                            <span class="PercentText ">85%</span>
                        </div>
                    </div>

                    <div class="codeconSkillbar">
                        <div id="codeconJS">
                            <span class="codeconSkillArea ">Nodejs</span>
                            <span class="PercentText ">70%</span>
                        </div>
                    </div>

                    <div class="codeconSkillbar">
                        <div id="codeconPHP">
                            <span class="codeconSkillArea ">RDB</span>
                            <span class="PercentText ">76%</span>
                        </div>
                    </div>

                    <div class="codeconSkillbar">
                        <div id="codeconSQL">
                            <span class="codeconSkillArea ">Bootstrap </span>
                            <span class="PercentText ">80%</span>
                        </div>
                    </div>

                    <div class="codeconSkillbar">
                        <div id="codeconVBNET">
                            <span class="codeconSkillArea ">Git/Github</span>
                            <span class="PercentText ">85%</span>
                        </div>
                    </div>

                </div>

            </section>

        </div><!-- /container -->
        </section><!-- /.secton-skills -->

        <section id="service" class="site-section section-services overlay text-center">
            <div class="container" style="border-radius: 25px;">
                <div class="row">
                    <div class="col-md-12">
                        <h3>What I do</h3>
                        <img src="{% static 'img/lines.svg' %}" class="img-lines" alt="lines">
                    </div>
                    <div class="col-sm-4">
                        <div class="service">

                            <h4>Front-end</h4>
                            <p>As a javascript developer, I have experience in HTML5 and CSS3 techniques working with
                                ready frameworks.</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-sm-4">
                        <div class="service">

                            <h4>Back-end</h4>
                            <p>Using django or Nodejs for building fullstack Apps or developing APIs to deliver your
                                service in best shape.</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-sm-4">
                        <div class="service">
                            <h4>Consultancy</h4>
                            <p>As well as providing development services, I can also help you decide strategic roadmaps
                                via consultancy services.</p>
                        </div><!-- /.service -->
                    </div>
                </div>
            </div>
        </section><!-- /.secton-services -->
        <!-- To Do -->
        <section id="portfolio" class="site-section section-portfolio">
            <div class="container">
                <div class="text-center">
                    <h3>My recent Works</h3>
                    <img src="{% static 'img/lines.svg' %}" class="img-lines" alt="lines">
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="{% static 'img/github.png' %}" class="img-res" alt="" style="width: 90;">
                            <div class="portfolio-item-info">
                                <h4>Pure JavaScript App</h4>
                                <a href="#" data-toggle="modal" data-target="#portfolioItem1"><span
                                        class="glyphicon glyphicon-eye-open"></span></a>
                                <a href="#"><span class="glyphicon glyphicon-link"></span></a>
                            </div><!-- /.portfolio-item-info -->
                        </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="{% static 'img/github.png' %}" class="img-res" alt="">
                            <div class="portfolio-item-info">
                                <h4>Build APIs</h4>
                                <a href="#" data-toggle="modal" data-target="#portfolioItem2"><span
                                        class="glyphicon glyphicon-eye-open"></span></a>
                                <a href="#"><span class="glyphicon glyphicon-link"></span></a>
                            </div><!-- /.portfolio-item-info -->
                        </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-md-4 col-xs-6" style="border-radius: 25px;">
                        <div class="portfolio-item">
                            <img src="{% static 'img/github.png' %}" class="img-res" alt="">
                            <div class="portfolio-item-info">
                                <h4>Upgrade your site</h4>
                                <a href="#" data-toggle="modal" data-target="#portfolioItem3"><span
                                        class="glyphicon glyphicon-eye-open"></span></a>
                                <a href="#"><span class="glyphicon glyphicon-link"></span></a>
                            </div><!-- /.portfolio-item-info -->
                        </div><!-- /.portfolio-item -->
                    </div>

                </div>
            </div>
            </div>
        </section><!-- /.secton-portfolio -->
        <section class="site-section section-counters text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <p class="counter start" data-to="3" data-speed="2000">3</p>
                        <h4>Years Experience</h4>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <p class="counter start" data-to="3" data-speed="2000">3</p>
                        <h4>Projects Delivered</h4>
                    </div>
                </div>
            </div>
        </section><!-- /.section-counters -->

        {% endblock main %}

        {% block contact %}
        <section id="contact" class="site-section section-form text-center">
            <div class="container">

                <h3>Contact</h3>
                <img src="{% static 'img/lines.svg' %}" class="img-lines" alt="lines">
                <form method="POST">

                    {% csrf_token %}
                    <div class="col-sm-12">{{ form.as_p }}</div>
                    <button href="#" class="btn " type="submit" style="border-radius: 50px;">Contact <span
                            class="glyphicon glyphicon-send"></span></button>
                </form>
            </div>
        </section><!-- /.section-form -->
        {% endblock contact %}



    </main><!-- /#main -->
    
    {% block footer %}
        
    
        
    <footer id="colophon" class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <!-- <a class="icon facebook-bg" href="#"><i class="icon-facebook"></i></a> -->
                    <a class="icon twitter-bg" href="https://twitter.com/Someone7_7"><i class="icon-twitter"></i></a>
                    <a class="icon gplus-bg" href="https://www.linkedin.com/in/ahmed-abdallh-21b1a0168/"><i class="icon-linkedin"></i></a>
                    
                </div>
                <div class="col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
                    <p class="copyright">2020 - Ahmed Abdallh</p>
                </div>
                <div class="col-sm-4 col-xs-3">
                    <div class="text-right page-scroll">
                        <a class="icon icon-up-bg" href="#hero"><i class="icon-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- /#footer -->
    {% endblock footer %}
    <!-- Modals -->
    <div id="portfolioItem1" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="border-radius: 25px;">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal" style="border-radius: 25px;"><span
                            class="glyphicon glyphicon-remove"></span></a>
                    <img class="img-res" src="{% static 'img/portfolio-1.jpg' %}" alt="">
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Pure JavaScript Apps</h4>
                    <p>This one is using fetch api and github oath to bring the github users and thier repositories and
                        save them in your local storage simple but to the point</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-fill">See for yourself</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem2" class="modal fade" role="dialog" style="border-radius: 25px;">
        <div class="modal-dialog">
            <div class="modal-content" style="border-radius: 25px;">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal" style="border-radius: 25px;"><span
                            class="glyphicon glyphicon-remove"></span></a>
                    <img class="img-res" src="{% static 'img/portfolio-2.jpg' %}" alt="">
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Bulding APIs</h4>
                    <p>If you perfer to provide your service as api I can built it for you </p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-fill">See for yourself</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem3" class="modal fade" role="dialog" style="border-radius: 25px;">
        <div class="modal-dialog">
            <div class="modal-content" style="border-radius: 25px;">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal" style="border-radius: 25px;"><span
                            class="glyphicon glyphicon-remove"></span></a>
                    <img class="img-res" src="{% static 'img/portfolio-3.jpg' %}" alt="">
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">UX/UI Design</h4>
                    <p>Design for an fictionist application named money this design consider mobile first approach with
                        different screens from the start when the user clicks on the icon going through different
                        operation that the user can done.</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-fill">See for yourself</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/skrollr.min.js' %}"></script>
    <script src="{% static 'js/jquery.countTo.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>